a{
	text-decoration: none;
}

#content a,
#content a:visited{
	color:white;
}
.eleMenu,
.listMenu{
	list-style: none;
	cursor: pointer;
}

img{
	border:none;
}
.mail{
	font-weight: bold;
	text-decoration: underline;
}
#content{
	font-family: 'Montserrat', sans-serif;
}
#content h1{
	color: #C2B59B;
	letter-spacing: -.5px;
	font-family: 'Vollkorn', serif;
	border-bottom: 2px solid #C2B59B;
	margin-bottom: 0px;
}
#content .quote{
	font-style: italic;
	text-align: right;
	font-family: 'Vollkorn', serif;
	color: #b2b2b2;
}
#content .emph{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-family:serif;
	background:rgb(25,25,25);
	color: rgb(200,200,200);
}
.autor a{
	color: rgb(200,200,200);
	text-decoration: underline;
}


.foto{
	border:1px solid white;
}
.eng{
	color:#C2B59B;
	text-align: right;
	font-family: 'Vollkorn', serif;
	font-style: italic;
}
/*#content h1::before{
	content:url('../imgs/title_dec.png'); 
	margin-right: 5px;
}*/

.sample, #close{
	cursor: pointer;
}

#screen{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(20,20,20,.9);
	height: 100vh;
	width: 100vw;
	z-index: 1000;
}
#close{
	position: fixed;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
}
#screenImg{
	display: block;
	width: 50%;
	height: auto;
	margin: 0 auto;
}